.border1 {
    border: 5px dotted black;
    margin: 20px 1em 40px 2em;
    padding: 1em;
    width: 400px;
    height: 100px;
    box-sizing: content-box;
}

.border2 {
    border: 5px double red;
    margin: 20px 1em 40px 2em;
    padding: 1em;
    width: 400px;
    height: 100px;
    box-sizing: border-box;
}