.titlu,.red,.green,.orange,.black {
    display: flex;
    border: 1px solid black;
    width: 800px;
   
}
  
   
div {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    min-height: 50px;
    flex-direction: row;
    text-align: center;
    background-color: rgba(243, 247, 248, 0.733);
    text-decoration: solid;
  
}
