.warpper {
    border: 1px solid black;
    margin: 0 auto;
    height: 800px;
    width: 800px;
    text-align: center;
}

.header {
    border: 1px solid black;

}
.content {
    display: flex;
    width: 800px;
    gap: 50px;
   
   }
    

.box {
    flex-grow: 1;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
  
}
.box4 {
   
    background-color: aqua;
}

