* {
    box-sizing: border-box;
}

.warpper {
    border: 1px solid black;
    margin: 0 auto;
    width: 800px;
    height: 800px;
}
.header {
    border: 1px solid black;
    position: relative;
    width: 800px;
    height: 150px;
}
.logo {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin: 10px;
    text-indent: 5px;

}
.topmenu {
    border:1px solid black ;
    width: 150px;
    height: 30px;
    position: absolute;
    inset: 10px 0px 0px 630px ;
    text-indent: 5px;
}
.menu {
    border: 1px solid black;
    width: 500px;
    height: 30px;
    margin: 10px;
    position: absolute;
    inset: 90px 0px 0px 270px;
    text-indent: 5px;
   
}
.content {
    border: 1px solid black;
    position: relative;
}
.box1 {
    border: 1px solid black;
    width: 150px;
    height: 500px;
    position: absolute;
    
}
.box2 {
    border: 1px solid black;
    width: 150px;
    height: 500px;
    position: absolute;
    left: 220px;
}
.box3 {
    border: 1px solid black;
    width: 150px;
    height: 500px;
    position: absolute;
    left: 430px;
}
.box4 {
    border: 1px solid black;
    width: 150px;
    height: 500px;
    position: absolute;
    left: 648px;
}
.footer {
    border: 1px solid black;
    width: 800px;
    height: 0px;
    position: absolute;
    top: 610px;
}
