.imagini {
    display: flex;
    
}
.box {
    border: 3px solid red;
    background:red;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 0 20px yellow, 0 0 0 50px blue;
    margin:2em 5em;
    border-radius: 15px;
}

.albina1 {
    margin: 1em;
    padding: 1em;
}
.albina2 {
    height: 500px;
    width: 500px;
}

.albina3 {
    margin: 5em;
    padding: 5em;
    
}