.wrapper {
    border: 1px solid black;
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(75, 71, 71);
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 4fr;
    height: 30px;
    gap: 10px;
    padding-bottom: 24px;
}

.box1 {
    border: 1px solid red;
    background-color: red;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.box2 {
    border: 1px solid rgb(189, 148, 37);
    background-color: rgb(189, 148, 37);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.box3 {
    border: 1px solid rgb(78, 146, 114);
    background-color: rgb(78, 146, 114);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}

.box4 {
    border: 1px solid white;
    background-color: white;
}

.main {
    border: 1px solid rgb(75, 71, 71);
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    grid-template-areas:
        "red orange yellow green pink black"
        "brown blue aqua box10 box11 box12"
        "box13 box14 box15 box16 box17 box18";

}

.grid-item1 {
    background-color: red;
    grid-area: red;
}

.grid-item2 {
    background-color: orange;
    grid-area: orange;

}

.grid-item3 {
    background-color: yellow;
    grid-area: yellow;
}

.grid-item4 {
    background-color: green;
    grid-area: green;
}

.grid-item5 {
    background-color: pink;
    grid-area: pink;
}

.grid-item6 {
    background-color: black;
    grid-area: black;
}

.grid-item7 {
    background-color: brown;
    grid-area: brown;

}

.grid-item8 {
    background-color: blue;
    grid-area: blue;
}

.grid-item9 {
    background-color: aqua;
    grid-area: aqua;
}

.grid-item10 {
    background-color: beige;
    grid-area: box10;
}

.grid-item11 {
    background-color: blueviolet;
    grid-area: box11;
}

.grid-item12 {
    background-color: fuchsia;
    grid-area: box12;
}

.grid-item13 {
    background-color:aqua;
    grid-area: box13;
}

.grid-item14 {
    background-color:navajowhite;
    grid-area: box14;
}

.grid-item15 {
    background-color:lightcoral;
    grid-area: box15;
}

.grid-item16 {
    background-color:rebeccapurple;
    grid-area: box16;
}

.grid-item17 {
    background-color:teal;
    grid-area: box17;
}

.grid-item18 {
    background-color:olive;
    grid-area: box18;
}